html {
  -webkit-font-smoothing: antialiased; }

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444444; }

html, body {
  font-family: "Droid Sans", "Lucinda Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: auto; }

a {
  color: black;
  text-decoration: none;
  font-size: 10pt; }

a.article_link {
  font-size: 14pt; }

span.article_rank {
  font-size: 14pt; }

.main {
  background: #f6f6ef;
  margin-left: 60px;
  margin-right: 60px;
  padding: 30px; }

.embedly {
  width: 400px;
  position: fixed;
  height: 95%;
  right: 80px;
  top: 10px;
  overflow: auto;
  overflow-y: auto;
  padding-bottom: 10px;
  margin: 5px;
  margin-bottom: 13px;
  padding: 5px;
  display: none;
  border: solid 1px #cccccc;
  background-color: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 6px 6px 8px #666666;
  -moz-box-shadow: 6px 6px 8px #666666;
  -webkit-box-shadow: 6px 6px 8px #666666; }
  .embedly img {
    float: left;
    margin: 10px; }
  .embedly a:hover {
    text-decoration: underline; }
  .embedly .embedly_title {
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 1.5em;
    text-decoration: none; }

.clear {
  clear: both; }
